@model Quanlybanhang.Models.KhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLTE3.cshtml";
}

<h1>Details</h1>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Họ Tên Khách Hàng 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTenKh)
        </dd>
        <dt class = "col-sm-2">
            Địa Chỉ 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiachiKh)
        </dd>
        <dt class = "col-sm-2">
            Điện Thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaKh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
